// Warna
$primary-color: #4b88a2;
$background-color: #fff9fb;
$secondary-bg-color: #b7cbd8;

$text-color: #252627;
$secondary-text-color: rgba(37, 38, 39, 0.7);

// Font
$font-family-base: "Poppins", sans-serif;
$font-size-base: 16px;
