// Warna
$primary-color: #4b88a2;
$background-color: #fff9fb;
$secondary-bg-color: #b7cbd8;
$background-dark-color: #252627;

$text-color: #252627;
$secondary-text-color: rgba(37, 38, 39, 0.7);

// Dark Mode
$dark-primary-color: #b7cbd8;
$dark-background-color: #252627;
$dark-text-color: #fff9fb;
$dark-secondary-text-color: rgba(255, 249, 251, 0.7);

// Font
$font-family-base: "Poppins", sans-serif;
$font-size-base: 16px;
