@import "./variables";

body {
  background-color: $background-color;
  color: $text-color;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: $primary-color;

  &:hover {
    color: darken($primary-color, 10%);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-color;
}

.font-medium {
  font-size: medium;
}

.bg-secondary {
  background-color: $secondary-bg-color !important;
  color: $text-color !important;
}

.bg-light {
  background-color: $background-color !important;
}

.accordion .accordion-item {
  margin-bottom: 1rem;
  border-radius: 1.5rem !important;
  border: none;
}

.accordion .accordion-button {
  font-weight: 600;
  font-size: 1.25rem;
  border-radius: 1.5rem !important;
}

.accordion .accordion-button:not(.collapsed) {
  background-color: #fff !important;
  box-shadow: none !important;
}

.accordion .accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-arrow-up'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 5l0 14' /%3E%3Cpath d='M18 11l-6 -6' /%3E%3Cpath d='M6 11l6 -6' /%3E%3C/svg%3E");
}

.accordion .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-arrow-up'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 5l0 14' /%3E%3Cpath d='M18 11l-6 -6' /%3E%3Cpath d='M6 11l6 -6' /%3E%3C/svg%3E");
}

.accordion .accordion-button:focus {
  box-shadow: none !important;
}

.verybig-title {
  font-size: 3.75rem;
  font-weight: 700;
  background: linear-gradient(
    92.41deg,
    rgba(75, 136, 162, 1),
    rgba(255, 249, 251, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.max-w-md {
  max-width: 820px;
}

.bg-wave {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1280 563' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1906.27 10.6884C1799.38 63.2867 1661.73 108.194 1376.07 68.5984C1233.33 48.8133 1141.98 58.5664 1076.02 84.6914C1010.07 110.814 969.45 153.327 928.18 199.225C925.573 202.125 922.963 205.038 920.344 207.961C881.513 251.305 840.678 296.885 776.518 333.847C708.026 373.305 612.99 402.924 465.469 409.614C229.586 420.312 70.4114 469.716 -32.7221 527.094C-135.87 584.48 -182.928 649.82 -194.671 692.376L-195.635 692.11C-183.796 649.206 -136.494 583.683 -33.2083 526.22C70.092 468.749 229.426 419.318 465.424 408.616C612.829 401.93 707.699 372.34 776.019 332.981C840.035 296.101 880.773 250.63 919.612 207.279C922.227 204.361 924.833 201.452 927.437 198.556C968.716 152.649 1009.47 109.977 1075.66 83.7617C1141.83 57.5486 1233.38 47.8103 1376.21 67.6079C1661.68 107.178 1799.13 62.2969 1905.83 9.79113C1924.23 0.739102 1941.71 -8.54398 1958.9 -17.6637C2041.4 -61.4585 2116.81 -101.486 2251.51 -94.0709L2251.45 -93.0724C2117.05 -100.472 2041.89 -60.5796 1959.41 -16.8014C1942.22 -7.67593 1924.7 1.61837 1906.27 10.6884ZM1914.63 56.4171C1807.74 109.015 1670.09 153.923 1384.43 114.327C1241.69 94.542 1150.34 104.295 1084.38 130.42C1018.43 156.543 977.809 199.056 936.539 244.953C933.932 247.853 931.322 250.766 928.703 253.69C889.872 297.033 849.037 342.614 784.878 379.576C716.385 419.034 621.349 448.653 473.828 455.343C237.945 466.041 78.7706 515.444 -24.363 572.823C-127.511 630.209 -174.569 695.549 -186.312 738.105L-187.276 737.839C-175.436 694.935 -128.135 629.412 -24.8491 571.949C78.4511 514.478 237.785 465.047 473.783 454.344C621.188 447.659 716.058 418.068 784.378 378.709C848.394 341.83 889.132 296.359 927.971 253.008C930.586 250.09 933.192 247.181 935.796 244.285C977.075 198.377 1017.83 155.706 1084.01 129.49C1150.19 103.277 1241.74 93.539 1384.57 113.337C1670.04 152.906 1807.49 108.026 1914.19 55.5198C1932.58 46.4678 1950.07 37.1847 1967.25 28.0649C2049.76 -15.7299 2125.17 -55.7578 2259.87 -48.3422L2259.81 -47.3437C2125.41 -54.743 2050.25 -14.8509 1967.77 28.9273C1950.57 38.0527 1933.06 47.347 1914.63 56.4171ZM1392.79 160.057C1678.45 199.653 1816.1 154.745 1922.99 102.147C1941.42 93.0771 1958.93 83.7828 1976.13 74.6574C2058.61 30.8792 2133.77 -9.0129 2268.17 -1.61361L2268.23 -2.61209C2133.53 -10.0276 2058.12 30.0002 1975.61 73.795C1958.43 82.9148 1940.94 92.1979 1922.55 101.25C1815.85 153.756 1678.4 198.636 1392.93 159.067C1250.09 139.269 1158.55 149.007 1092.37 175.22C1026.19 201.436 985.434 244.108 944.155 290.015C941.551 292.911 938.945 295.82 936.33 298.738C897.492 342.089 856.754 387.56 792.738 424.439C724.418 463.798 629.547 493.389 482.142 500.074C246.145 510.777 86.8105 560.208 -16.4897 617.679C-119.776 675.142 -167.077 740.665 -178.916 783.569L-177.952 783.835C-166.209 741.279 -119.151 675.939 -16.0036 618.553C87.13 561.175 246.304 511.771 482.188 501.073C629.709 494.383 724.745 464.764 793.237 425.306C857.396 388.344 898.231 342.763 937.062 299.42C939.681 296.497 942.291 293.583 944.899 290.684C986.169 244.786 1026.79 202.273 1092.74 176.15C1158.7 150.025 1250.05 140.272 1392.79 160.057ZM1931.35 147.875C1824.46 200.473 1686.81 245.381 1401.15 205.785C1258.4 186 1167.06 195.753 1101.1 221.878C1035.15 248.001 994.526 290.514 953.256 336.411C950.649 339.311 948.039 342.224 945.42 345.148C906.589 388.491 865.754 434.072 801.594 471.034C733.102 510.492 638.066 540.111 490.545 546.801C254.661 557.499 95.4872 606.902 -7.64636 664.281C-110.794 721.667 -157.852 787.007 -169.595 829.562L-170.559 829.297C-158.72 786.393 -111.419 720.87 -8.13253 663.407C95.1677 605.936 254.502 556.505 490.5 545.802C637.905 539.117 732.775 509.526 801.095 470.167C865.111 433.288 905.849 387.817 944.688 344.466C947.302 341.547 949.908 338.639 952.512 335.743C993.791 289.835 1034.55 247.164 1100.73 220.948C1166.91 194.735 1258.45 184.997 1401.28 204.794C1686.76 244.364 1824.2 199.484 1930.91 146.978C1949.3 137.926 1966.79 128.643 1983.97 119.523C2066.48 75.7281 2141.89 35.7002 2276.58 43.1157L2276.53 44.1142C2142.13 36.7149 2066.97 76.607 1984.48 120.385C1967.29 129.511 1949.78 138.805 1931.35 147.875ZM1409.5 251.513C1695.17 291.109 1832.82 246.201 1939.71 193.603C1958.14 184.533 1975.65 175.239 1992.84 166.113C2075.33 122.335 2150.49 82.4431 2284.89 89.8424L2284.94 88.8439C2150.25 81.4283 2074.84 121.456 1992.33 165.251C1975.15 174.371 1957.66 183.654 1939.27 192.706C1832.56 245.212 1695.12 290.092 1409.64 250.523C1266.81 230.725 1175.27 240.463 1109.09 266.676C1042.91 292.892 1002.15 335.563 960.872 381.471C958.268 384.367 955.662 387.276 953.047 390.194C914.209 433.545 873.471 479.016 809.454 515.895C741.134 555.254 646.264 584.845 498.859 591.53C262.861 602.233 103.527 651.664 0.226936 709.135C-103.059 766.598 -150.36 832.121 -162.2 875.025L-161.236 875.291C-149.492 832.735 -102.435 767.395 0.71312 710.009C103.847 652.631 263.021 603.227 498.904 592.529C646.425 585.839 741.461 556.22 809.954 516.762C874.113 479.8 914.948 434.219 953.779 390.876C956.398 387.952 959.008 385.039 961.615 382.14C1002.89 336.242 1043.51 293.729 1109.46 267.606C1175.42 241.481 1266.76 231.728 1409.5 251.513ZM1948.06 239.332C1841.17 291.93 1703.53 336.838 1417.86 297.242C1275.12 277.457 1183.77 287.21 1117.82 313.335C1051.87 339.458 1011.24 381.971 969.973 427.868C967.365 430.768 964.755 433.681 962.136 436.605C923.306 479.948 882.47 525.529 818.311 562.49C749.819 601.949 654.783 631.568 507.262 638.258C271.378 648.956 112.204 698.359 9.07046 755.737C-94.0772 813.123 -141.135 878.464 -152.878 921.019L-153.842 920.753C-142.003 877.85 -94.7018 812.327 8.58429 754.864C111.885 697.393 271.219 647.962 507.216 637.259C654.621 630.574 749.492 600.983 817.812 561.624C881.828 524.744 922.566 479.274 961.405 435.923C964.019 433.004 966.625 430.096 969.229 427.2C1010.51 381.292 1051.26 338.621 1117.45 312.405C1183.63 286.192 1275.17 276.454 1418 296.251C1703.48 335.821 1840.92 290.94 1947.62 238.435C1966.01 229.389 1983.48 220.112 2000.65 210.998L2000.68 210.984L2000.69 210.98C2083.19 167.185 2158.6 127.157 2293.3 134.573L2293.24 135.571C2158.84 128.172 2083.68 168.064 2001.2 211.842C1984.01 220.968 1966.5 230.262 1948.06 239.332ZM1426.22 342.972C1711.89 382.567 1849.53 337.66 1956.42 285.062C1974.85 275.992 1992.37 266.697 2009.56 257.572C2092.04 213.794 2167.2 173.902 2301.6 181.301L2301.66 180.302C2166.96 172.887 2091.55 212.915 2009.05 256.709C1991.87 265.829 1974.38 275.112 1955.98 284.164C1849.28 336.67 1711.83 381.551 1426.36 341.981C1283.53 322.184 1191.99 331.922 1125.81 358.135C1059.62 384.35 1018.87 427.022 977.588 472.929C974.984 475.825 972.378 478.734 969.763 481.652C930.925 525.003 890.187 570.474 826.17 607.354C757.85 646.713 662.98 676.304 515.575 682.989C279.577 693.692 120.243 743.122 16.9429 800.593C-86.3432 858.056 -133.644 923.58 -145.484 966.483L-144.52 966.749C-132.777 924.194 -85.7186 858.853 17.4291 801.467C120.563 744.089 279.737 694.685 515.62 683.988C663.141 677.297 758.177 647.678 826.67 608.22C890.829 571.258 931.664 525.678 970.495 482.334C973.114 479.411 975.724 476.498 978.331 473.598C1019.6 427.701 1060.22 385.187 1126.18 359.065C1192.13 332.94 1283.48 323.187 1426.22 342.972Z' fill='%234B88A2'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.thumbnail {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.disable-resize {
  resize: none;
}

.medium-title {
  font-size: 3.438rem;
  font-weight: 600;
  line-height: 67px;
}

.border-fade {
  border: 2px solid rgba(33, 37, 41, 0.05);
}

//media query for mobile
@media only screen and (max-width: 768px) {
  .thumbnail {
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.375rem;
  }
}

// RESPONSIVE

.my-text {
  // font-size: 1.75rem; // Default font-size untuk layar besar

  @media (max-width: 1200px) { // Untuk layar besar (misal laptop)
    font-size: 1.75rem;
  }

  @media (max-width: 992px) {
    // Untuk layar menengah (misal tablet)
    font-size: 1.5rem;
  }

  @media (max-width: 768px) {
    // Untuk layar kecil (misal ponsel)
    font-size: 1.25rem;
  }

  @media (max-width: 576px) {
    // Untuk layar sangat kecil (misal ponsel kecil)
    font-size: 1rem;
  }
}

.my-heading1 {
  // font-size: 24px; // Default font-size untuk layar besar

  // @media (max-width: 1200px) { // Untuk layar besar (misal laptop)
  //   font-size: 40px;
  // }

  @media (max-width: 992px) {
    // Untuk layar menengah (misal tablet)
    font-size: 36px;
  }

  @media (max-width: 768px) {
    // Untuk layar kecil (misal ponsel)
    font-size: 32px;
  }

  @media (max-width: 576px) {
    // Untuk layar sangat kecil (misal ponsel kecil)
    // font-size: 1rem;
    font-size: 27px;
  }
}
